<a class="btn btn-success d-block mt-5" routerLink="/CarRegister">Register a New Car !</a>

<div class="container-fluid my-5 ">

    <div class="shadow-box" style="padding: 50px;">

      <div class="container-fluid my-5">
        <div class="row " >
          <div class="col-md-6 col-lg-3" *ngFor="let c of MyCars">
            <div class="avatar-container" >
                <img src="assets/{{c.image}}" alt="CarImg" style="height: 200px;width: 100%;" class="rounded img-thumbnail mb-3">
              <div>
                <input type="file" id="avatar-input-file" accept="image/*" (change)="onChangeFile(c.vin,$event)" />
              </div>
            </div>
            <h2 style="color:#35296D;">{{c.modelName}} - {{c.year}}</h2>
            <mat-divider></mat-divider>
            <p class="text-black-50">Availabe For Renta: {{c.available}}</p>
            <p class="text-black-50">Car Location: {{c.locationOfRent}}</p>
            <p class="text-black-50">Car Gear Box Type: {{c.gearBoxType}}</p>
            <p class="text-black-50">Current Mailage in km : {{c.mailage}}</p>
            <p class="text-black-50">Cost Per Rent Day: {{c.costPerDay}}</p>
            <button mat-fab extended color="warn" (click)="DeleteCar(c.vin)"> <i class="fa-solid fa-circle-xmark"></i> Remove The Car </button>

          </div>

        </div>
        <mat-divider class="Row_divider mt-2"></mat-divider>
      </div>

    </div>
  </div>

