<!-- <p>
  list-car-parking-address works!
</p> -->

<div class="maindiv container-fluid">
  <h3 class="text-center mb-5">PARKING ADDRESS</h3>
  <div class="row">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3518.7739662178906!2d30.73729792395544!3d28.12291777594688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145b25c9ff4ca9db%3A0xb233ef3a6077958c!2sMinia%20University!5e0!3m2!1sar!2seg!4v1681569583238!5m2!1sar!2seg"
      width="1400" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="row mt-4">
    <div class="col-2">
      <button class="m-1 w-75" style="height: 45px;" mat-fab extended color="accent" (click)="leavePage()">FINISH LATER</button>
    </div>
    <div class="col-4"></div>
    <div class="col-3">
      <button class="m-1 float-end w-75" mat-fab extended color="primary" (click)="goBack(stepper)">BACK</button>
    </div>
    <div class="col-3">
      <button class="m-1 w-75" mat-fab extended color="primary" (click)="goForward(stepper)">NEXT</button>
    </div>
  </div>
</div>
<mat-stepper #stepper></mat-stepper>