
// ----------upload file ---------------
.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}
.mat-toolbar-single-row button {
  width: 130px;
}
.mat-form-field {
  width: 100%;
}
#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}
mat-hint{
  color: #f44336;
}
//--------------divider-------------
.mat-divider {
  height: 2px;
  background-color: #35296D;
}

