.card {
  // ...

  form {
    display: flex;
    flex-direction: column;

    .form-row {
      display: flex;
      justify-content: space-between;

      mat-form-field {
        width: 45%;
      }
    }

    mat-form-field {
      margin-bottom: 16px;
    }
  }
}
//--------------divider-------------
.mat-divider {
  height: 2px;
  background-color: #35296D;
}
mat-hint{
  color: #f44336;
}
