<!-- <p>
  list-car works!
</p> -->
<!-- <button class="btn btn-primary m-4 f-left">List Your Car</button> -->
<!-- <div class="container-fluid m-4">
  <div class="row">
    <div class="col-2">
      <list-car-side-stepper></list-car-side-stepper>
    </div>
    <div class="col-9">
      <list-car-info></list-car-info>
      <div style="height: 100px;"></div>
      <list-car-license-insurance></list-car-license-insurance>
      <div style="height: 100px;"></div>
      <list-car-photos-price></list-car-photos-price>
      <div style="height: 100px;"></div>
      <list-car-parking-address></list-car-parking-address>
      <div style="height: 100px;"></div>
      <list-car-publish></list-car-publish>
    </div>
  </div>
</div> -->
<button class="m-1 float-end" mat-fab extended color="accent" (click)="openDialog()">List Your Car?</button>
