<!-- <div class="crop" [style.width.px]="cropWidth" (click)="onClick()" [title]="rating">
  <div style="width:75px">

    <ngx-star-rating [id]="'rating'"></ngx-star-rating>

  </div>

</div> -->

<div class="crop" [style.width.px]="cropWidth" (click)="onClick()" [title]="rating" >
  <div style="width:90px">
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div>
</div>
