<mat-tab-group >
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">manage_accounts</mat-icon>
      My Account
    </ng-template>
    <app-my-account></app-my-account>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon"><i class="fa-solid fa-car"></i></mat-icon>
      My Cars
    </ng-template>
    <app-my-cars></app-my-cars>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">fact_check</mat-icon>
      My Requests
    </ng-template>
    <app-my-requests></app-my-requests>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">vpn_key</mat-icon>
      My Borrowing
    </ng-template>
    <app-my-borrowings></app-my-borrowings>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">payment</mat-icon>
      My Payment
    </ng-template>
    <app-my-payments></app-my-payments>
  </mat-tab>
</mat-tab-group>



